[Desktop Entry]
Name=PiLauncher
Comment=Minecraft Launcher for Gamepad
Exec=PiLauncher
Icon=com.mrshell.PiLauncher
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true