[Desktop Entry]
Name=PiLauncher
Comment=Minecraft Launcher for Linux and SteamDeck
Exec=pilauncher
Icon=com.mrshell.pilauncher
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true