/* /src/style/index.css */

/* 1. 全局基础样式 (字体、网页重置、滚动条等) */
@import './global.css';

/* 2. Ore UI 核心公共工具类 */
@import './ui/core.css';

/* 3. 具体组件样式 */
@import './ui/primitives/OreButton.css';
@import './ui/primitives/OreSegmentedControl.css';
/* 未来加入的其他组件继续往下接... */
@import './ui/primitives/OreModal.css';

/* ========================================= */
/* 4. Tailwind 基础注入 (必须放在所有 import 之后) */
/* ========================================= */
@tailwind base;
@tailwind components;
@tailwind utilities;