/* /src/style/index.css */

/* 1. 全局基础样式 (字体、网页重置、滚动条等) */
@import './global.css';

/* 2. Ore UI 核心公共工具类 */
@import './ui/core.css';

@import './ui/primitives/OreButton.css';
@import './ui/primitives/OreSegmentedControl.css';
@import './ui/primitives/OreModal.css';
@import './ui/primitives/OreInstanceCard.css';
@import './ui/primitives/OreList.css';
@import './ui/primitives/OreCard.css';
@import './ui/primitives/OreInput.css';
@import './ui/primitives/OreAccordion.css';
@import './ui/primitives/OreSwitch.css';
@import './ui/primitives/OreSlider.css';
@import './ui/primitives/OreDropdown.css';



@tailwind base;
@tailwind components;
@tailwind utilities;