/* /src/style/ui/primitives/OreModal.css */
@layer components {
  /* 弹窗主体面板 */
  .ore-modal-panel {
    @apply relative flex flex-col bg-ore-nav border-2 border-ore-gray-border max-h-[90vh];
    /* 外层投射超大黑色阴影以剥离背景，内层带有基岩版祖传的 2px 高光和暗边 */
    box-shadow: 
      0 20px 50px rgba(0, 0, 0, 0.6), 
      inset 2px 2px rgba(255, 255, 255, 0.1), 
      inset -2px -2px rgba(0, 0, 0, 0.2);
  }

  /* 弹窗头部 */
  .ore-modal-header {
    @apply flex items-center justify-between px-6 py-4 border-b-2 border-ore-gray-border bg-[#3A3B3C];
  }

  /* 弹窗内容区 */
  .ore-modal-body {
    @apply p-6 flex-1 overflow-y-auto text-ore-text;
  }

  /* 弹窗底部操作区 */
  .ore-modal-footer {
    @apply flex items-center justify-end space-x-4 px-6 py-4 border-t-2 border-ore-gray-border bg-[#3A3B3C];
  }
}